/* ===== スマホ ===== */
@media (max-width: 768px) {
  .works-detail {
    grid-template-columns: 1fr;
  }
  .modal-body {
    flex-direction: column;
  }
  .modal-body img {
    width: 100%;
  }
}

/* UVバナー専用のサイズ設定（60%） */
    .modal-content.is-uv-small {
      width: 40%; /* 枠そのものを少しスリムに */
      max-width: 400px;
    }
    .modal-content.is-uv-small img {
      width: 100%; /* 中の画像は枠いっぱいに */
    }
